* {
     margin: 0;
     padding: 0;
     font-family: Arial, Helvetica, sans-serif;
}
Button {
     cursor: pointer;
}
.firstButton, .secondButton {
     margin: 20px 50px;
     cursor: pointer;
     background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);   border-radius: 8px;   border-style: none;   box-sizing: border-box;   color: #FFFFFF;   
     flex-shrink: 0;   
     font-size: 16px;
     font-weight: 500;
     height: 4rem;
     padding: 0 1.6rem;
     text-align: center;
     text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
     transition: all .5s;
     user-select: none;
     touch-action: manipulation;
}
.firstButton:hover, .secondButton:hover {
     box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
     transition-duration: .1s;
}
.modalWrapper {
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: rgba(0, 0, 0, 0.5);
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
}
.modalHeader {
     font-size: 30px;
     text-align: center;
}
.modal {
     display: grid;
     grid-template-rows: max-content minmax(min-content, 1fr) max-content;
     gap: 10px;
     background-color: #fff;
     width: 400px;
     height: 250px;
     padding: 20px;
     position: relative;
     border-radius: 8px;
}
.modalTwo {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}
.headerWrapper {
     padding-right: 20px;
}
.modalCloseButton {
     display: block;
     width: 140px;
     height: 30px;
     margin: 0 auto;
     border: none;
     border-radius: 6px;
     background-color: plum;
     font-size: 16px;
     color: #fff;
}
.modalClose {
     display: flex;
     justify-content: center;
     align-items: center;
     position: absolute;
     top: 5px;
     right: 5px;
     cursor: pointer;
     width: 20px;
     height: 20px;
}
.modalPic {
     display: block;
     margin: 0 auto;
     width: fit-content;
     height: 160px;
}